node_modules/
.DS_Store
*.log
.env
.env.*
recordings/
*.apk
shell/.dart_tool/
shell/build/
shell/.flutter-plugins
shell/.flutter-plugins-dependencies
shell/android/.gradle/
shell/android/local.properties
